glidertools/_version.py export-subst
* text=auto eol=lf
tests/data/p5420305.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420309.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420313.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420316.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420304.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420310.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420312.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420306.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420307.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420311.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420314.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420315.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420317.nc filter=lfs diff=lfs merge=lfs -text
tests/data/p5420308.nc filter=lfs diff=lfs merge=lfs -text
notebooks/Demo_GT.ipynb filter=lfs diff=lfs merge=lfs -text
