name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    if: github.repository == 'GliderToolsCommunity/GliderTools'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      - name: Check git status
        run: git status
      - name: Check version
        run:  python setup.py --version
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools setuptools-scm wheel twine check-manifest
      - name: Build tarball and wheels
        run: |
          git clean -xdf
          git restore -SW .
          python -m build --sdist --wheel .
      - name: Test the artifacts
        run: |
          python -m twine check dist/*
          
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          verbose: true
